<!DOCTYPE html>
<html>
<head>
    <title>Flask App - Download</title>
</head>
<body>
    <h1>File Generated Successfully</h1>
    <p><a href="{{ url_for('download', filename=filename) }}">Download File</a></p>
</body>
</html>
