<!DOCTYPE html>
<html>
<head>
    <title>Flask App - Home</title>
</head>
<body>
    <h1>Welcome to Flask App</h1>
    <p>This is the home page.</p>
    <p><a href="{{ url_for('upload') }}">Upload a CSV File</a></p>
</body>
</html>
